#homeResim {
    background-image: url(../img/kemenceHome.png);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

#kutu1 {
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 5px;
}

#kutu2 {
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

#kutuIciYazi {
    display: flex;
    align-items: center;
    justify-content: center;
}

